{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Поиск публикаций</h1>

   <form action="" method="get">
       <label >Автор:</label>
       {{ filterset.form.post_author__user__username }}
        <p></p>
       <label >Заголовок:</label>
       <input type="text"  name="post_title__icontains" value="{{ curr_title }}">
       <p></p>
       <label >Дата:</label>
       <input   type="date"  name="post_time_in__gt" value="{{ curr_date }}">
        <p></p>
       <input type="submit" value="Найти" />
   </form>

    <h3>Найденных публикаций: {{ post|length }}</h3>

   <hr>
   {% if post_search %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for post_item in post_search %}
           <tr>
               <td>{{ post_item.post_title|censor }}</td>
               <td>{{ post_item.post_time_in }}</td>
               <td>{{ post_item.post_text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}