{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все публикации</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h3>Всего публикаций: {{ post|length }}</h3>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Категория</td>
           </tr>
           {% for post_item in post %}
           <tr>
               <td>{{ post_item.post_title|censor }}</td>
               <td>{{ post_item.post_time_in }}</td>
               <td>{{ post_item.post_text|truncatechars:20|censor }}</td>
               <td>{% for category in post_item.post_category.all %}
                        <a href="{% url 'category_list' category.id %}">{{category}}</a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<hr>
{% if is_not_subscribers %}
<button> <a href="subscribe"> Подписаться на категорию!</a> <button>
{% endif %}
{% if not is_not_subscribers %}
<button> <a href="unsubscribe"> Отписаться от категории!</a> <button>
{% endif %}
{% endblock content %}
