{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h3>{{ news_counter|default_if_none:'Всего новостей:' }}</h3>
    <h3>{{ post|length }}</h3>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for post_item in post %}
           <tr>

               <td>{{ post_item.post_title|censor }}</td>
               <td>{{ post_item.post_time_in }}</td>
               <td>{{ post_item.post_text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}